.chartheader{
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: flex-end;
  color: #fff;
  font-weight: bold;
  font-size: 1.6vh;
}
.chartheader .item{
  flex: 1;
  height: 2.5vh;
  background: #eee;
  border-radius: 5px 5px 0 0;
  position: relative;
  list-style: none;
}
.chartheader .item.active{
  height: 2.8vh;
  background: #1890ff;
}
.chartheader .item:first-child:before{
  content: '';
  display: none;
  width: 17%;
  height: 100%;
  background: #1890ff;
  position: absolute;
  right: -12.5%;
  top: 0;
  z-index: 10;
  border-radius: 0 5px 0 0;
  transform: skew(10deg);
}
.chartheader .item:first-child.active:before{
  display: block;
}
